@page
@model List<SportField.Models.Campo>
@{
    ViewData["Title"] = "Lista de Campos";
}

<h2>Lista de Campos</h2>
<a asp-page="/Campos/Create" class="btn btn-primary">Crear Nuevo Campo</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Tarifa por Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campo in Model)
        {
            <tr>
                <td>@campo.Nombre</td>
                <td>@campo.Tipo</td>
                <td>@campo.Ubicación</td>
                <td>@campo.TarifaHora</td>
                <td>
                    <a asp-page="/Campos/Edit" asp-route-id="@campo.IdCampo" class="btn btn-warning">Editar</a>
                    <a asp-page="/Campos/Details" asp-route-id="@campo.IdCampo" class="btn btn-info">Detalles</a>
                    <a asp-page="/Campos/Delete" asp-route-id="@campo.IdCampo" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
